.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  height: 20vh;
}

.sale-item-card {
  background-color: gainsboro;
  border-radius: 1% 8%;
  height: 100%;
  margin: 1rem;
  padding: .5rem;
  width: 18rem;
}

.sale-item-image {
  border-radius: inherit;
  height: 250px;
  width: inherit;
}

.sidebar {
  background-color: bisque;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  height: 100%;
  opacity: .85;
  position: absolute;
  top: 0;
}

.sidebar-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 1.5rem;
  padding-top: .25rem;
}

.sidebar-header {
  display: flex;
}

.sidebar-link {
  padding: .25rem;
}

.sidebar-links-container {
  color: #333;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-top: .5rem;
  .nav-link {
    color: #434343;
  }
  .nav-link:hover {
    color: #000;
  }
}

.sidebar-open-button {
  display: flex;
}

.sidebar-title {
  font-size: 2rem;
  margin-bottom: 0;
  /* Offcanvas was setting a bottom margin that I didn't want */
}